{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * loginlink plugin for Craft CMS
 *
 * Loginlinks Utility Content
 *
 * @author    Disposition Tools
 * @copyright Copyright (c) 2022 Disposition Tools
 * @link      https://www.disposition.tools
 * @package   Loginlink
 * @since     1.0.0
 */
#}

<h1>Loginlinks</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@dispositiontools/loginlink/assetbundles/loginlinksutility/dist', true) ~ '/img/Loginlinks-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>